* {
    font-family: Helvetica;
  }
body{
  background-color:#a3463e;
}

table{
      border: 1px solid #bc6760;
      margin:auto;
      width:75%;
      padding:10px;
}
tr:nth-child(even) {background-color: #edafaa}
th {
    background-color:#d1766e;
    color: white;
}
tr{
  background-color: #eda7a1;
    width:50%;
}

#frame div{
    display: inline-block;
    background-color: #db8c85;
    padding: 10px;

    }

#countryList tr:hover{
    cursor:pointer;
    color: white;
}

@media only screen and (max-width: 699px) {

  #frame div{
      width: 90%;
  }

}

@media only screen and (min-width: 700px) {
#myLocation{
    width: 47%;
    float:left;
    margin-bottom: 10px;
}
#weather{
    width: 48%;
    float: left;
    margin-left:10px;
    margin:bottom:10px;

}

#countryList{
    width:100%
}

}
